:root {
    --primary-color: #735588;
    --secondary-color: #c72fa6;
    --bg-color: rgba(0, 0, 0, 0.8);
    --text-color: #ffffff;
    --card-bg: rgba(255, 255, 255, 0.1);
}

.divider {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 20px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url('wallpaper.svg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

button.asearch {
    border-radius: 30px;
    width: 160px;
    height: 40px;
    border-color: #ff4081;
    border-style: solid;
    background-color: #222222;
    transition: .3s;
    a {
    color: #ff4081;
    text-decoration: none;
    }
    cursor: crosshair;
    a{
        cursor: crosshair;
    }
}

button.asearch:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    background-color: var(--bg-color);
    border-radius: 25px;
    padding: 30px;
    min-width: 120vh;
    max-width: 900px;
    color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#pfp {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
}

.center-section {
    flex: 4;
    padding: 0 20px;
}

.section-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
}

.section-links a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px 16px;
    border-radius: 12px;
    text-align: left;
    transition: background-color 0.3s;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.section-links a:hover {
    background-color: var(--primary-color);
    transform: translateX(5px);
}
.content {
    display: none;
}

.content.active {
    display: block;
}

/* yes, if u ask, after i make a website, i always put the NEW css for other things that werent in the 1st ver on the side. idk why */

#about a {
color: white; 
}

#greenlink a {
color: #afd9af;
}

#greenlink a:hover,
#about a:hover {
color: #8db38d; 
}

#purplelink a,
#contact a {
color: var(--primary-color); 
text-decoration: underline; 
}

#purplelink a:hover,
#contact a:hover {
color: #695379;
}

@keyframes trailFade {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 890px) {
body {
background: url('wallpaper-mobile.svg') no-repeat center center fixed;
background-size: cover;
}
}

.rjstudios {
    margin-top: -25px;
}
h1 a{
    color: white;
    text-decoration: none;
}
h1 a:hover{
    color: lightgrey;
    text-decoration: none;
}
div.items {
    overflow-y: auto;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 13px;
    padding: 10px;
    height: 50vh;
    min-width: 10vh;
}
.repo-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 25px;
    flex-wrap: wrap;

    a{
        color: var(--secondary-color);
        font-size: 25px;
        padding: 10px;
        font-weight: 600;
    }

    p {
        color: #c4c4c4;
        padding-inline: 10px;
        margin-top: -1px;
        margin-bottom: 1px;
        font-size: 20px;
        font-weight: 500;
    }
}

#small{
    color: #c4c4c4;
    padding-inline: 10px;
    margin-top: -1px;
    margin-bottom: 1px;
    font-size: 20px;
    font-weight: 500;
}

div#comics #subtitle{
    margin-top: -20px;
    color: #c7c7c7;
}
div#images {
    align-items: center;
    display: block;
    justify-content: center;
    width: 55vh;
    overflow-y: auto;
    height: 60vh;

    img {
        border-radius: 10px;
        padding: 10px;
        -webkit-filter: brightness(100%);
    }
    img:hover {
        -webkit-filter: brightness(70%);
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
        cursor: zoom-in;
    }
}
.combo {
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 13px;
    padding: 10px;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;

    p{
        padding-bottom: -10px;
    }
}

div#images#items {
    overflow-y: auto;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 13px;
    padding: 10px;
}


/* Poppins Font Weights */

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-studios {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    font-style: normal;
    line-height:2px;  
    margin-top:-10px;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: #202020;
    border-radius: 25px;
    box-shadow: inset 0 0 5px #695379; 
}
::-webkit-scrollbar-thumb {
    background: #505050;
    border-radius: 25px; 
    width: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #493f50;
    border-radius: 25px; 
    width: 3px;
    cursor: row-resize;
}